.select {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: inherit;

  /* Remove the inheritance of text transform in Firefox. */
  text-transform: none;
  line-height: inherit;
  color: inherit;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.select_width_available {
  width: 100%;
}

/* Sizes */
.select_size_xs {
  font-size: 0.75rem; /* 12px */
}

.select_size_s {
  font-size: 0.875rem; /* 14px */
}

.select_size_m {
  font-size: 1.25rem; /* 20px */
}

.select_size_l {
  font-size: 1.5rem; /* 24px */
}

.select_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Themed */
.select_theme_pale {
  padding: 0.5em 2em 0.5em 0.5em;
  vertical-align: middle;
  background: #fff url("select_theme_pale.svg") no-repeat right 0.5em center;
  background-size: 1.3em;
  border: 1px solid #4db6ac;
  border-radius: 2px;
  appearance: none;

  &[multiple] {
    padding: 0.5em;
    background-image: none;
    border: 1px solid #4db6ac;
    border-radius: 2px;
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.37);
    border-color: rgba(0, 0, 0, 0.37);
    border-style: dotted;
  }
}
