html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  margin: 0;
}

html {
  font-size: 16px;

  min-height: 100%;

  /* Color for overscroll. */
  background-color: teal;
}

.page_theme_pale {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;

  min-height: 100%;

  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

.attach {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  color: inherit;
}

.attach::-webkit-file-upload-button {
  -webkit-appearance: button;
}

.attach:disabled {
  opacity: 0.65;
}

.attach_width_available {
  width: 100%;
}

.attach_theme_pale {
  padding: 0.5em;

  vertical-align: middle;

  border: 1px solid teal;
  border-radius: 2px;
}

/* Sizes */
.attach_size_xs {
  font-size: 0.75rem; /* 12px */
}

.attach_size_s {
  font-size: 0.875rem; /* 14px */
}

.attach_size_m {
  font-size: 1.25rem; /* 20px */
}

.attach_size_l {
  font-size: 1.5rem; /* 24px */
}

.attach_size_xl {
  font-size: 2.125rem; /* 34px */
}

.button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  box-sizing: border-box;
  margin: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
  text-transform: none;

  color: inherit;
}

/* Remove the inner border and padding in Firefox. */

.button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Restore the focus styles unset by the previous rule. */

.button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button:disabled {
  opacity: 0.65;
}

.button:focus {
  outline-offset: -2px;
}

.button_type_link {
  display: inline-block;

  text-decoration: none;

  color: inherit;
}

.button_block {
  display: block;

  width: 100%;
}

.button_theme_pale {
  padding: 0.5em 1em;

  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

/* Sizes */
.button_size_xs {
  font-size: 0.75rem; /* 12px */
}

.button_size_s {
  font-size: 0.875rem; /* 14px */
}

.button_size_m {
  font-size: 1.25rem; /* 20px */
}

.button_size_l {
  font-size: 1.5rem; /* 24px */
}

.button_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Views */
.button_view_action {
  color: #fff;
  background-color: teal;
}
.button_view_action:hover,
  .button_view_action:focus,
  .button_view_action:active {
  background-color: rgb(0, 153, 153);
}

.button_view_pseudo {
  color: teal;
  border-color: teal;
}

.button_view_pseudo:hover,
  .button_view_pseudo:focus,
  .button_view_pseudo:active {
  color: rgb(0, 153, 153);
  border-color: rgb(0, 153, 153);
}

.checkbox {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  /* Add the correct box sizing in IE 10-. */
  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  /* Remove the padding in IE 10-. */
  padding: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  color: inherit;
}
.checkbox:disabled {
  opacity: 0.65;
}

.clearfix::before,
.clearfix::after {
    display: table;

    content: " ";
}

.clearfix::after {
    clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container_theme_pale {
  max-width: 1140px;
}

.content h1 + h2,
  .content h2 + h3,
  .content h3 + h4,
  .content h4 + h5,
  .content h5 + h6,
  .content h1:first-child,
  .content h2:first-child,
  .content h3:first-child,
  .content h4:first-child,
  .content h5:first-child,
  .content h6:first-child {
    margin-top: 0;
}
.content p {
    margin-top: 0;
}
.content address {
    font-style: normal;
    line-height: inherit;
}
.content ol,
  .content ul,
  .content dl {
    margin-top: 0;
}
.content ol ol,
  .content ul ul,
  .content ol ul,
  .content ul ol {
    margin-bottom: 0;
}
.content blockquote {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.content a {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.content sub,
  .content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.content sub {
    bottom: -0.25em;
}
.content sup {
    top: -0.5em;
}
.content small {
    font-size: 80%;
}

.content_theme_pale {
  line-height: 1.5;
}
.content_theme_pale h1,
  .content_theme_pale h2,
  .content_theme_pale h3,
  .content_theme_pale h4,
  .content_theme_pale h5,
  .content_theme_pale h6 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.content_theme_pale h1 {
  font-size: 2.25rem;
  /* 36px */
}
.content_theme_pale h2 {
  font-size: 1.875rem;
  /* 30px */
}
.content_theme_pale h3 {
  font-size: 1.5rem;
  /* 24px */
}
.content_theme_pale h4 {
  font-size: 1.125rem;
  /* 18px */
}
.content_theme_pale h5 {
  font-size: 0.875rem;
  /* 14px */
}
.content_theme_pale h6 {
  font-size: 0.75rem;
  /* 12px */
}
.content_theme_pale p {
  margin-bottom: 1rem;
}
.content_theme_pale address {
  margin-bottom: 1rem;
}
.content_theme_pale ol,
  .content_theme_pale ul,
  .content_theme_pale dl {
  margin-bottom: 1rem;
}
.content_theme_pale blockquote {
  margin-bottom: 1rem;
}
.content_theme_pale a {
  color: #448aff;
}
.content_theme_pale a:hover,
    .content_theme_pale a:focus {
  color: rgb(0, 90, 245);
}
.content_theme_pale mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.embed {
  position: relative;

  display: block;
  overflow: hidden;

  width: 100%;
  padding: 0;
}

.embed::before {
  display: block;
  content: "";
}

.embed .embed__object,
  .embed iframe,
  .embed embed,
  .embed object,
  .embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed_ratio_21by9::before {
  padding-top: 42.85714%;
}

.embed_ratio_16by9::before {
  padding-top: 56.25%;
}

.embed_ratio_4by3::before {
  padding-top: 75%;
}

.embed_ratio_1by1::before {
  padding-top: 100%;
}

.fieldset {
  /* Browsers set a default `min-width: min-content;` on fieldsets,
  unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  So we reset that to ensure fieldsets behave more like a standard block element.
  See https://github.com/twbs/bootstrap/issues/12359
  and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements */
  min-width: 0;

  /* Reset the default outline behavior of fieldsets so they don't affect page layout. */
  margin: 0;
  padding: 0;

  border: 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid__cell {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5em;
          flex: 1 0 5em;
}

.grid_theme_pale .grid__cell {
  padding: 0.5em;
}

.hint {
  position: relative;

  display: inline-block;
}
.hint::after {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  display: inline-block;
  visibility: hidden;
  content: "";
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateX(-50%) translateY(4px);
          transform: translateX(-50%) translateY(4px);
  pointer-events: none;
  opacity: 0;
}
.hint:hover::after {
  visibility: visible;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  opacity: 1;
}

/* Tooltip body */
.hint::after {
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.9);
}

/* Always get content from aria-label attribute. */
.hint[aria-label]::after {
  content: attr(aria-label);
}

/* Hide tooltips if any of the supported attributes is empty. */
.hint[aria-label='']::before,
    .hint[aria-label='']::after {
  display: none !important;
}

/* Sizes */
.hint_size_s::after, .hint_size_m::after, .hint_size_l::after {
  line-height: 1.2;
  white-space: normal;

  /* Ensure long words do not overflow. */
  word-wrap: break-word;
}

.hint_size_s::after {
  width: 80px;
}

.hint_size_m::after {
  width: 160px;
}

.hint_size_l::after {
  width: 320px;
}

/* Positions */
.hint_top::after {
  top: auto;
  bottom: 100%;
}

.hint_right::after {
  top: 50%;
  left: 100%;
  -webkit-transform: translateX(4px) translateY(-50%);
          transform: translateX(4px) translateY(-50%);
}

.hint_left::after {
  top: 50%;
  right: 100%;
  left: auto;
  -webkit-transform: translateX(-4px) translateY(-50%);
          transform: translateX(-4px) translateY(-50%);
}

.icon {
  display: inline-block;

  text-align: center;

  background: 50% no-repeat;
}
/* Hack for correct baseline positioning */
.icon:empty::after {
  visibility: hidden;
  content: '\00A0';
}
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
.icon > img,
  .icon > svg {
  /* 0.15 — magic number, empirically found */
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}

.image {
  border: 0;
}

.image_fluid {
  display: block;

  max-width: 100%;
  height: auto;
}

.image_rounded {
  border-radius: 2px;
}

.image_circle {
  border-radius: 50%;
}

.input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  color: inherit;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

.input[type="number"]::-webkit-inner-spin-button,
  .input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.input[type="search"] {

  /* Correct the outline style in Safari. */
  outline-offset: -2px;

  /* Correct the odd appearance in Chrome and Safari. */
  -webkit-appearance: textfield;
}

/* Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */

.input[type="search"]::-webkit-search-cancel-button,
  .input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.input:disabled {
  opacity: 0.65;
}

.input_width_available {
  width: 100%;
}

.input_theme_pale {
  padding: 0.5em;

  vertical-align: middle;

  border: 1px solid teal;
  border-radius: 2px;
}

/* Sizes */
.input_size_xs {
  font-size: 0.75rem; /* 12px */
}

.input_size_s {
  font-size: 0.875rem; /* 14px */
}

.input_size_m {
  font-size: 1.25rem; /* 20px */
}

.input_size_l {
  font-size: 1.5rem; /* 24px */
}

.input_size_xl {
  font-size: 2.125rem; /* 34px */
}

.label {
  /* Allow labels to use `margin` for spacing. */
  display: inline-block;

  /* Avoid 300ms click delay on touch devices that support the `touch-action` CSS property. */
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.label_block {
  display: block;
}

.legend {
  /* Correct the text wrapping in Edge and IE. */
  display: block;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  /* Remove the padding so developers are not caught out when they zero out
  `fieldset` elements in all browsers. */
  padding: 0;

  white-space: normal;

  /* Correct the color inheritance from `fieldset` elements in IE. */
  color: inherit;
}

.link {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}


.link_pseudo {
  text-decoration: none;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.media__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.media__object_align_middle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.media__object_align_bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.radio {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  /* Add the correct box sizing in IE 10-. */
  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  /* Remove the padding in IE 10-. */
  padding: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  color: inherit;
}
.radio:disabled {
  opacity: 0.65;
}

.select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  /* Remove the inheritance of text transform in Firefox. */
  text-transform: none;
}

.select:disabled {
  opacity: 0.65;
}

.select_width_available {
  width: 100%;
}

.select_theme_pale {
  vertical-align: middle;
}
.select_theme_pale[multiple] {
  padding: 0.5em;
  border: 1px solid teal;
  border-radius: 2px;
}

/* Sizes */
.select_size_xs {
  font-size: 0.75rem; /* 12px */
}

.select_size_s {
  font-size: 0.875rem; /* 14px */
}

.select_size_m {
  font-size: 1.25rem; /* 20px */
}

.select_size_l {
  font-size: 1.5rem; /* 24px */
}

.select_size_xl {
  font-size: 2.125rem; /* 34px */
}

.spin {
  display: none;

  border: 3px solid teal;
  border-top: 3px solid transparent;
  border-radius: 50%;
}

.spin_visible {
  display: inline-block;

  -webkit-animation: spin 1s linear infinite;

          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spin_size_xs {
  width: 16px;
  height: 16px;
}

.spin_size_s {
  width: 24px;
  height: 24px;
}

.spin_size_m {
  width: 28px;
  height: 28px;
}

.spin_size_l {
  width: 32px;
  height: 32px;
}

.spin_size_xl {
  width: 38px;
  height: 38px;
}

.table {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  border-collapse: collapse;

  /* Reset for nesting within parents with `background-color`. */
  background-color: transparent;
}
.table th,
  .table td {
  box-sizing: border-box;
  vertical-align: top;
}
.table th {

  /* Centered by default, but left-align-ed to match the `td`s below. */
  text-align: left;
}
.table thead th {
  vertical-align: bottom;
}
.table caption {
  caption-side: bottom;
  text-align: left;
}

.table_theme_pale {
  margin-bottom: 1rem;

  table-layout: fixed;
}
.table_theme_pale th,
  .table_theme_pale td {
  padding: 0.75rem;
  border-top: 1px solid #e0e0e0;
}
.table_theme_pale thead th {
  border-bottom: 2px solid #e0e0e0;
}
.table_theme_pale tbody + tbody {
  border-top: 2px solid #e0e0e0;
}
.table_theme_pale caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Condensed table w/ half padding */
.table_condensed th,
  .table_condensed td {
  padding: 0.3rem;
}

/* Add borders all around the table and between all the columns. */
.table_bordered {
  border: 1px solid #e0e0e0;
}
.table_bordered th,
  .table_bordered td {
  border: 1px solid #e0e0e0;
}
.table_bordered thead th,
    .table_bordered thead td {
  border-bottom-width: 2px;
}

/* Default zebra-stripe styles (alternating gray and transparent backgrounds) */
.table_striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

/* Placed here since it has to come after the potential zebra striping */
.table_hover tbody tr:hover {
  background-color: #f5f5f5;
}

/* Utils */
.text_title {
  line-height: 1.1;
}

/* Text truncate
Requires inline-block or block for proper styling */
.text_truncate {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* CSS image replacement */
.text_hide {
  font: 0/0 a;

  color: transparent;
  border: 0;
  background-color: transparent;
  text-shadow: none;
}

/* Only display content to screen readers
See: http://a11yproject.com/posts/how-to-hide-content */
.text_sr {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

/* Align */
.text_align_center {
  text-align: center;
}

.text_align_left {
  text-align: left;
}

.text_align_right {
  text-align: right;
}

/* Sizes */
.text_size_xs {
  font-size: 0.75rem; /* 12px */
}

.text_size_s {
  font-size: 0.875rem; /* 14px */
}

.text_size_m {
  font-size: 1.25rem; /* 20px */
}

.text_size_l {
  font-size: 1.5rem; /* 24px */
}

.text_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Colors */
.text_color_primary {
  color: rgba(0, 0, 0, 1);
}

.text_color_secondary {
  color: rgba(0, 0, 0, 0.54);
}

.text_color_disabled {
  color: rgba(0, 0, 0, 0.38);
}

.text_color_divider {
  color: rgba(0, 0, 0, 0.12);
}

/* Background colors */
.text_bg_300 {
  background-color: #e0e0e0;
}

.text_bg_100 {
  background-color: #f5f5f5;
}

.text_bg_50 {
  background-color: #fafafa;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Remove the default vertical scrollbar in IE. */
  overflow: auto;

  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  /* Textareas should really only resize vertically so they don't break their (horizontal) containers. */
  resize: vertical;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.textarea:disabled {
  opacity: 0.65;
}

.textarea_width_available {
  width: 100%;
}

.textarea_theme_pale {
  padding: 0.5em;

  vertical-align: middle;

  border: 1px solid teal;
  border-radius: 2px;
}

/* Sizes */
.textarea_size_xs {
  font-size: 0.75rem; /* 12px */
}

.textarea_size_s {
  font-size: 0.875rem; /* 14px */
}

.textarea_size_m {
  font-size: 1.25rem; /* 20px */
}

.textarea_size_l {
  font-size: 1.5rem; /* 24px */
}

.textarea_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *::before,
  *::after,
  p::first-letter,
  div::first-letter,
  blockquote::first-letter,
  li::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
