.content_theme_pale {
  line-height: 1.5;

  address,
  blockquote,
  details,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  ol,
  p,
  pre,
  ul {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 500;
    line-height: 1.1;

    margin-top: 2rem;
  }

  h1 + h2,
  h2 + h3,
  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }

  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  /* http://www.modularscale.com/?16&px&1.414 */
  h1 {
    font-size: 2.827rem; /* 45.234px */
  }

  h2 {
    font-size: 1.999rem; /* 31.99px */
  }

  h3 {
    font-size: 1.414rem; /* 22.624px */
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  h6 {
    font-weight: normal;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 2rem;
  }

  blockquote {
    margin-right: 0;
    margin-left: 2rem;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  mark {
    padding: 0.2em;

    background-color: #fcf8e3;
  }
}
