@use postcss-nested;
@use postcss-color-function;

.content_theme_pale {
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    font-weight: 500;
    line-height: 1.1;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    margin-bottom: 1rem;
  }

  address {
    margin-bottom: 1rem;
  }

  ol,
  ul,
  dl {
    margin-bottom: 1rem;
  }

  blockquote {
    margin-bottom: 1rem;
  }

  a {
    color: #448aff;

    &:hover,
    &:focus {
      color: color(#448aff lightness(-15%));
    }
  }

  mark {
    padding: 0.2em;

    background-color: #fcf8e3;
  }
}
