.input_theme_pale {
  padding: 0.5em;

  vertical-align: middle;

  border: 1px solid teal;
  border-radius: 2px;
}

/* Sizes */
.input_size_xs {
  font-size: 0.75rem; /* 12px */
}

.input_size_s {
  font-size: 0.875rem; /* 14px */
}

.input_size_m {
  font-size: 1.25rem; /* 20px */
}

.input_size_l {
  font-size: 1.5rem; /* 24px */
}

.input_size_xl {
  font-size: 2.125rem; /* 34px */
}
