/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.input {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.input_width_available {
  width: 100%;
}

/* Sizes */
.input_size_xs {
  font-size: 0.75rem; /* 12px */
}

.input_size_s {
  font-size: 0.875rem; /* 14px */
}

.input_size_m {
  font-size: 1.25rem; /* 20px */
}

.input_size_l {
  font-size: 1.5rem; /* 24px */
}

.input_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Themed */
.input_theme_pale {
  padding: 0.5em;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #4db6ac;
  border-radius: 2px;

  &:disabled {
    color: rgba(0, 0, 0, 0.37);
    border-color: rgba(0, 0, 0, 0.37);
    border-style: dotted;
  }
}
