.input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /* Show the overflow in Edge. */
  overflow: visible;

  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  touch-action: manipulation;

  color: inherit;

  /* Correct the cursor style of increment and decrement buttons in Chrome. */
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  &[type="search"] {
    /* Correct the outline style in Safari. */
    outline-offset: -2px;

    /* Correct the odd appearance in Chrome and Safari. */
    -webkit-appearance: textfield;
  }

  /* Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &:disabled {
    opacity: 0.65;
  }
}

.input_width_available {
  width: 100%;
}
