@use postcss-nested;

.table_theme_pale {
  margin-bottom: 1rem;

  th,
  td {
    padding: 0.75rem;

    border-top: 1px solid #e0e0e0;
  }

  thead th {
    border-bottom: 2px solid #e0e0e0;
  }

  tbody + tbody {
    border-top: 2px solid #e0e0e0;
  }

  caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}


/* Condensed table w/ half padding */
.table_condensed {
  th,
  td {
    padding: 0.3rem;
  }
}


/* Add borders all around the table and between all the columns. */
.table_bordered {
  border: 1px solid #e0e0e0;

  th,
  td {
    border: 1px solid #e0e0e0;
  }

  thead {
    th,
    td {
      border-bottom-width: 2px;
    }
  }
}


/* Default zebra-stripe styles (alternating gray and transparent backgrounds) */
.table_striped {
  tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
  }
}


/* Placed here since it has to come after the potential zebra striping */
.table_hover {
  tbody tr {
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
