.hint {
  position: relative;

  display: inline-block;

  &::after {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;

    display: inline-block;
    visibility: hidden;

    content: "";
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
    transform: translateX(-50%) translateY(4px);
    pointer-events: none;

    opacity: 0;
  }

  &:hover::after {
    visibility: visible;

    transition-delay: 100ms;

    opacity: 1;
  }

  /* Tooltip body */
  &::after {
    padding: 4px 8px;

    text-align: center;
    white-space: nowrap;

    color: #fff;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.9);

    font-family: inherit;
    font-size: 12px;
    line-height: 1;
  }

  /* Always get content from aria-label attribute. */
  &[aria-label]::after {
    content: attr(aria-label);
  }

  /* Hide tooltips if any of the supported attributes is empty. */
  &[aria-label='']{
    &::before,
    &::after {
      display: none !important;
    }
  }
}


/* Sizes */
.hint_size_s,
.hint_size_m,
.hint_size_l {
  &:after {
    white-space: normal;
    /* Ensure long words do not overflow. */
    word-wrap: break-word;

    line-height: 1.2;
  }
}

.hint_size_s {
  &:after {
    width: 80px;
  }
}

.hint_size_m {
  &:after {
    width: 160px;
  }
}

.hint_size_l {
  &:after {
    width: 320px;
  }
}


/* Positions */
.hint_top {
  &::after {
    top: auto;
    bottom: 100%;
  }
}

.hint_right {
  &::after {
    top: 50%;
    left: 100%;

    transform: translateX(4px) translateY(-50%);
  }
}

.hint_left {
  &::after {
    top: 50%;
    right: 100%;
    left: auto;

    transform: translateX(-4px) translateY(-50%);
  }
}
