.table {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  /* Reset for nesting within parents with `background-color`. */
  background-color: transparent;
  border-collapse: collapse;
}

  .table th,
  .table td {
    box-sizing: border-box;
    vertical-align: top;
  }

  .table th {
    /* Centered by default, but left-align-ed to match the `td`s below. */
    text-align: left;
  }

  .table thead th {
    vertical-align: bottom;
  }

  .table caption {
    text-align: left;
  }

/* Themed */

.table_theme_pale {
  margin-bottom: 1rem;
}

.table_theme_pale th,
  .table_theme_pale td {
    padding: 0.75rem;
    border-top: 1px solid #e0e0e0;
  }

.table_theme_pale thead th {
    border-bottom: 2px solid #e0e0e0;
  }

.table_theme_pale tbody + tbody {
    border-top: 2px solid #e0e0e0;
  }

.table_theme_pale caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

/* Condensed table w/ half padding */

.table_theme_pale.table_condensed th,
    .table_theme_pale.table_condensed td {
      padding: 0.3rem;
    }

/* Add borders all around the table and between all the columns. */

.table_theme_pale.table_bordered {
    border: 1px solid #e0e0e0;
  }

.table_theme_pale.table_bordered th,
    .table_theme_pale.table_bordered td {
      border: 1px solid #e0e0e0;
    }

.table_theme_pale.table_bordered thead th,
      .table_theme_pale.table_bordered thead td {
        border-bottom-width: 2px;
      }

/* Remove borders */

.table_theme_pale.table_borderless th,
    .table_theme_pale.table_borderless td,
    .table_theme_pale.table_borderless thead th,
    .table_theme_pale.table_borderless tbody + tbody {
      border: 0;
    }

/* Default zebra-stripe styles (alternating gray and transparent backgrounds) */

.table_theme_pale.table_striped tbody tr:nth-of-type(odd) {
      background-color: #fafafa;
    }

/* Placed here since it has to come after the potential zebra striping */

.table_theme_pale.table_hover tbody tr:hover {
        background-color: #f5f5f5;
      }
