/* Headlines */
.text_headline_1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
}

.text_headline_2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
}

.text_headline_3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.text_headline_4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.text_headline_5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.text_headline_6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

/* Subtitles */
.text_subtitle_1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.text_subtitle_2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
}

/* Body */
.text_body_1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text_body_2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/* Text truncate
Requires inline-block or block for proper styling */
.text_truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CSS image replacement */
.text_hide {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  border: 0;
}

/* Only display content to screen readers
See: http://a11yproject.com/posts/how-to-hide-content */
.text_sr {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Align */
.text_align_center {
  text-align: center;
}

.text_align_left {
  text-align: left;
}

.text_align_right {
  text-align: right;
}

/* Wrap */
.text_wrap_normal {
  white-space: normal;
}

.text_wrap_no {
  white-space: nowrap;
}

.text_wrap_break {
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Color */
.text_color_reset {
  color: inherit;
}

/* Decoration */
.text_decoration_none {
  text-decoration: none;
}

.text_decoration_underline {
  text-decoration: underline;
}

/* Display */
.text_display_block {
  display: block;
}

.text_display_inline-block {
  display: inline-block;
}

.text_display_inline {
  display: inline;
}

/* Font */
.text_font_sans {
  font-family: var(--font-sans);
}

.text_font_serif {
  font-family: var(--font-serif);
}

.text_font_mono {
  font-family: var(--font-mono);
}

/* Line height */
.text_line-height_xs {
  line-height: var(--line-height-text-xs);
}

.text_line-height_s {
  line-height: var(--line-height-text-s);
}

.text_line-height_m {
  line-height: var(--line-height-text-m);
}

.text_line-height_l {
  line-height: var(--line-height-text-l);
}

/* Size */
.text_size_xs {
  font-size: var(--size-text-xs);
  line-height: var(--line-height-text-m);
}

.text_size_s {
  font-size: var(--size-text-s);
  line-height: var(--line-height-text-m);
}

.text_size_m {
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-m);
}

.text_size_l {
  font-size: var(--size-text-l);
  line-height: var(--line-height-text-m);
}

.text_size_xl {
  font-size: var(--size-text-xl);
  line-height: var(--line-height-text-m);
}

/* Spacing */
.text_spacing_xs {
  letter-spacing: 0.06em;
}

.text_spacing_s {
  letter-spacing: 0.1em;
}

.text_spacing_m {
  letter-spacing: 0.14em;
}

.text_spacing_l {
  letter-spacing: 0.2em;
}

/* Transform */
.text_transform_uppercase {
  text-transform: uppercase;
}

/* Type */
.text_type_blockquote {
  margin-left: var(--space-4xl);
  padding-left: var(--space-m);
  margin-bottom: var(--space-l);
  border-left: var(--space-xxs) solid var(--color-bg-brand);
}
