.legend {
  /* Correct the text wrapping in Edge and IE. */
  display: block;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  /* Remove the padding so developers are not caught out when they zero out
  `fieldset` elements in all browsers. */
  padding: 0;

  white-space: normal;

  /* Correct the color inheritance from `fieldset` elements in IE. */
  color: inherit;
}
