.image {
  border: 0;
}

.image_fluid {
  display: block;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.image_rounded {
  border-radius: 2px;
}

.image_circle {
  border-radius: 50%;
}
