.button-group {
  position: relative;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    position: relative;

    float: left;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .button + .button {
    margin-left: -1px;
  }
}
