@function rem($px) {
  @return $px / 16px * 1rem;
}


.button_theme_pale {
  padding: 0.5em 1em;

  border: 1px solid transparent;
  border-radius: 2px;

  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}


/* Sizes */
.button_size_xs {
  font-size: rem(12px);
}

.button_size_s {
  font-size: rem(14px);
}

.button_size_m {
  font-size: rem(20px);
}

.button_size_l {
  font-size: rem(24px);
}

.button_size_xl {
  font-size: rem(34px);
}


/* Views */
.button_view_action {
  color: #fff;

  background-color: teal;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten(teal, 5%);
  }
}

.button_view_pseudo {
  color: teal;

  border-color: teal;

  &:hover,
  &:focus,
  &:active {
    color: lighten(teal, 5%);

    border-color: lighten(teal, 5%);
  }
}
