button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button {
  /* Correct styling a.button */
  display: inline-block;
  box-sizing: border-box;

  /* Remove the margin in Firefox and Safari. */
  margin: 0;

  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: inherit;

  /* Remove the inheritance of text transform in Edge and Firefox. */
  text-transform: none;
  line-height: inherit;
  user-select: none;
  color: inherit;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.button_width_available {
  width: 100%;
}

.button_view_plain {
  padding: 0;
  background: none;
  border: 0;
}

/* Sizes */
.button_size_xs {
  font-size: 0.75rem; /* 12px */
}

.button_size_s {
  font-size: 0.875rem; /* 14px */
}

.button_size_m {
  font-size: 1.25rem; /* 20px */
}

.button_size_l {
  font-size: 1.5rem; /* 24px */
}

.button_size_xl {
  font-size: 2.125rem; /* 34px */
}

/* Themed */
.button_theme_pale {
  cursor: pointer;
  padding: 0.5em 1em;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;

  &.button_raised {
    box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &:disabled {
      box-shadow: unset;
    }
  }

  &.button_view_action {
    color: #000;
    background-color: #4db6ac;

    &:hover,
    &:focus,
    &:active {
      color: #000;
      background-color: #00867d;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &.button_view_outline {
    color: #00867d;
    border-color: #4db6ac;

    &:hover,
    &:focus,
    &:active {
      color: #00867d;
      border-color: #00867d;
    }

    &:disabled {
      border-color: rgba(0, 0, 0, 0.37);
    }
  }

  &.button_view_text {
    color: #00867d;

    &:hover,
    &:focus,
    &:active {
      color: #00867d;
      background-color: rgba(0, 134, 125, 0.1);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.37);
  }
}
