@use postcss-nested;

.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 0;

  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  color: inherit;
  border: none;
  background: none;

  font: inherit;
  line-height: inherit;

  touch-action: manipulation;
  
  &:disabled {
    opacity: 0.65;
  }

  &:focus {
    outline-offset: -2px;
  }
}

.button_type_link {
  text-decoration: none;

  color: inherit;
}


.button_block {
  display: block;

  width: 100%;
}
