.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;

  font: inherit;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: inherit;

  background: none;
  border: none;

  touch-action: manipulation;
  user-select: none;

  &:disabled {
    opacity: 0.65;
  }

  &:focus {
    outline-offset: -2px;
  }
}

.button_type_link {
  text-decoration: none;
  color: inherit;
}


.button_block {
  display: block;
  width: 100%;
}
